@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: "Roboto", sans-serif;
}
.menu-topo{
    background-color: rgba(255,255,255, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    border: 1px solid #DBDBDB;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    margin-bottom: 88px;
}
.menu-topo input{
    width: 215px;
    border: 1px solid #DBDBDB;
    background-color: linear-gradient(0deg, #DBDBDB, #DBDBDB),
    linear-gradient(0deg, #FAFAFA, #FAFAFA);
    ;
}

.logo{
    display: flex;
    margin-left: 20px;
}

.simbolos{
    width: 22px;
    height: 22px;
}

.borda{
    height: 22px;
    width: 1px;
    background-color: #DBDBDB;
    margin: 0 9px;
}

.icones{
    display: flex;
}

.simbolos2{
    width: 22px;
    height: 22px;
    margin-right: 20px;
}

.texto-base::placeholder{
    text-align: center;
}

.container-geral{
    display: flex;
    margin-top: 88px;
    
}

.container-feed{
    margin: 0px auto;
    
}

.stories{
    display: flex;
    margin-bottom: 24px;
    border: 1px solid #DBDBDB;
    width: 614px;
    height: 118px;
    align-items: center;
    justify-content: space-around;
}


.post{
    margin-bottom: 60px;
    width: 614px;
    height: 749px;
    border: 1px solid #DBDBDB;
}

.sidebar{
    width: 293px;

}

@media (max-width: 934px){
    .sidebar{
        display: none;
    }
}

@media (max-width: 613px){

}